In [1]:
import pandas as pd

In [4]:
audit_bk = pd.read_csv("../1.데이터셋/Labeling/비상장_부실_Labeling.csv", index_col=0)
audit_lc = pd.read_csv("../1.데이터셋/Labeling/비상장_수명주기.csv", index_col=0)

In [5]:
audit_bk

               회사명   거래소코드  회계년도  부실판단
0          글로웨이(주)   10037  2014   1.0
1          청화산업(주)   10042  2015   1.0
2          홍원제지(주)   10062  2014   1.0
3        주식회사전주원파워   10128  2016   1.0
4      주식회사리오인더스트리   10145  2018   1.0
...            ...     ...   ...   ...
33107    주식회사우먼패키지  106543  2022   NaN
33108      우진기업(주)  106612  2022   NaN
33109      (주)에코매스  106852  2022   NaN
33110    (주)톱스톡케미칼  106986  2022   NaN
33111    협성화학섬유(주)  107069  2022   NaN

[33112 rows x 4 columns]

In [6]:
audit_lc

                  회사명  거래소코드  회계년도 기업수명주기
0          주식회사삼성산업개발  78238  2015    도입기
1           주식회사삼성씨에스  95243  2021    성장기
2           주식회사삼성씨에스  95243  2022    성숙기
3       주식회사삼성에이치제이에스  46726  2012    성장기
4       주식회사삼성에이치제이에스  46726  2013    성장기
...               ...    ...   ...    ...
194310      주식회사경안파이프  40699  2020    성숙기
194311      주식회사경안파이프  40699  2022    성숙기
194312         주식회사경암  99966  2020    쇠퇴기
194313         주식회사경암  99966  2021    성장기
194314         주식회사경암  99966  2022    성장기

[194315 rows x 4 columns]

In [7]:
audit_df = pd.merge(audit_bk, audit_lc, how='inner', on=['회사명', '거래소코드', '회계년도'])
audit_df

               회사명   거래소코드  회계년도  부실판단 기업수명주기
0          글로웨이(주)   10037  2014   1.0    쇠퇴기
1          청화산업(주)   10042  2015   1.0    성장기
2          홍원제지(주)   10062  2014   1.0    도입기
3        주식회사전주원파워   10128  2016   1.0    성숙기
4      주식회사리오인더스트리   10145  2018   1.0    도입기
...            ...     ...   ...   ...    ...
25295   (주)대흥엔지니어링  106517  2022   NaN    도입기
25296    주식회사우먼패키지  106543  2022   NaN    성숙기
25297      (주)에코매스  106852  2022   NaN    성장기
25298    (주)톱스톡케미칼  106986  2022   NaN    성숙기
25299    협성화학섬유(주)  107069  2022   NaN    도입기

[25300 rows x 5 columns]

In [8]:
audit_df.isna().sum()

회사명         0
거래소코드       0
회계년도        0
부실판단      342
기업수명주기      0
dtype: int64

In [10]:
audit_df.to_csv("../1.데이터셋/Feature/2.부실+수명주기.csv")